<style>
    .botao-opcao-relatorio {
        position: relative;
        background-color: #1E314E;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 18px;
        margin: 75px 50px;
        width: 300px;
    }

    .agrupamento-tipos-relatorio {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
</style>

<div class="agrupamento-tipos-relatorio">
    <button class="botao-opcao-relatorio"
        onclick="document.getElementById('modal').showModal()"
        c-get="{{ url_for('relatorio.filtros_relatorio_geral') }}"
        c-target="#modal">
        <i class="fa-solid fa-file-lines" style="color: #ffffff;"></i><br>Relatório geral
    </button>
    
    <button class="botao-opcao-relatorio"
        onclick="document.getElementById('modal').showModal()"
        c-get="{{ url_for('relatorio.filtros_relatorio_agrupado') }}"
        c-target="#modal">
        <i class="fa-solid fa-file-lines" style="color: #ffffff;"></i><br>Relatório agrupado
    </button>
</div>