<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Agrupado</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <style>
        h2 {
            width: 100%;
            margin: 25px auto;
            padding: 5px 0;
            text-align: left;
        }

        .div-agrupamento-generalizado {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            padding: 10px 0;
            margin: 30px 0;
            border-radius: 16px;
        }

        .h2-agrupamento-generalizado {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding: 5px 0;
        }

        .div-sub-agrupamento {
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
        }

        h3 {
            width: 100%;
            text-align: left;
            margin: 0 0 12px 0;
            color: rgb(54, 53, 53);
        }
    </style>
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem" href="/cadastro">
                    Cadastro
                </a>
                <a class="NavBarItem" href="/upload">
                    Uploads
                </a>
                <a class="NavBarItem selected-item-menu" href="/relatorio">
                    Relatórios
                </a>
                <a class="NavBarItem" href="">
                    Opções
                </a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i> <!-- Ícone de toggle -->
            </div>
        </div>
    </header>
    <main>
        <button class="return-button" onclick="window.history.back();">
            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        </button>
        
        <div class="div-baixar-pdf">
            <button id="baixar" class="baixar-pdf">Baixar PDF</button>
        </div>
        <section class="content">
            <div style="width: 95%;">
                {% if agrupado_por == 'aula' %}
                    {% for periodo_nome, aulas_dict in grouped_uploads.items() %}
                        <div class="div-agrupamento-generalizado">
                            <h2 class="h2-agrupamento-generalizado">Período: {{ periodo_nome }}</h2>
                            {% for aula_nome, uploads in aulas_dict.items() %}
                                <div class="div-sub-agrupamento">
                                    <h3>{{ aula_nome }}</h3>
                                    <table class="tabela-relatorio">
                                        <thead>
                                            <tr class="tr-cabecalho-relatorio">
                                                <th style="border-top-left-radius: 16px;">#</th>
                                                <th>Upload</th>
                                                <th>Professor(es)</th>
                                                <th>Sala</th>
                                                <th>Período</th>
                                                <th>Turma</th>
                                                <th style="border-top-right-radius: 16px;">Ação mais detectada</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for upload in uploads %}
                                                <tr class="tr-corpo-relatorio">
                                                    <td>{{ upload.id }}</td>
                                                    <td>{{ upload.nome_arquivo }}</td>
                                                    <td>
                                                        {% if professores_por_upload[upload.id] %}
                                                            {% for professor in professores_por_upload[upload.id] %}
                                                                {{ professor }}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            Sem professor
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ upload.sala.nome_sala if upload.sala else '' }}</td>
                                                    <td>{{ upload.periodo.nome_periodo if upload.periodo else '' }}</td>
                                                    <td>{{ upload.turma.nome_turma if upload.turma else '' }}</td>
                                                    <td>{{ classe_mais_comum[upload.id] }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                <h4 style="font-size: 28px; text-align: center;">Agrupamento por {{ agrupado_por|capitalize }}</h4>
                    {% for grouping_key, uploads in grouped_uploads.items() %}
                        <h2>{{ grouping_key }}</h2>
                        <table class="tabela-relatorio">
                            <thead>
                                <tr class="tr-cabecalho-relatorio">
                                    <th style="border-top-left-radius: 16px;">#</th>
                                    <th>Upload</th>
                                    <th>Professor(es)</th>
                                    <th>Sala</th>
                                    <th>Período</th>
                                    <th>Turma</th>
                                    <th style="border-top-right-radius: 16px;">Ação mais detectada</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for upload in uploads %}
                                    <tr class="tr-corpo-relatorio">
                                        <td>{{ upload.id }}</td>
                                        <td>{{ upload.nome_arquivo }}</td>
                                        <td>
                                            {% if professores_por_upload[upload.id] %}
                                                {% for professor in professores_por_upload[upload.id] %}
                                                    {{ professor }}<br>
                                                {% endfor %}
                                            {% else %}
                                                Sem professor
                                            {% endif %}
                                        </td>
                                        <td>{{ upload.sala.nome_sala if upload.sala else '' }}</td>
                                        <td>{{ upload.periodo.nome_periodo if upload.periodo else '' }}</td>
                                        <td>{{ upload.turma.nome_turma if upload.turma else '' }}</td>
                                        <td>{{ classe_mais_comum[upload.id] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        <!-- Modal formulários -->
        <dialog id="modal">
        </dialog>

        <!-- Modal erro -->
        <dialog id="error" class="modal-erro">
            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

    </main>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.querySelector('.menu-toggle');
            const navBar = document.querySelector('.NavBar');
            
            toggleButton.addEventListener('click', function() {
                navBar.classList.toggle('active'); // Alterna a classe 'active' na navbar para mostrar/esconder o menu
            });
        });
    </script>

    <script>
        document.getElementById("baixar").addEventListener("click", () => {
            const elemento = document.querySelector(".content");
            const opcoes = {
                margin:       1,
                filename:     'meu-documeto.pdf',
                image:        { type: 'png', quality: 1 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().set(opcoes).from(elemento).save();
        });
    </script>
</body>
</html>
