<tr id="periodo-{{periodo.id }}">
    <td scope="row">{{ periodo.id }}</td>
    <td> {{ periodo.nome_periodo }} </td>
    <td> {{ periodo.hora_inicio.strftime('%H:%M') }} </td>
    <td> {{ periodo.hora_termino.strftime('%H:%M') }} </td>
    <td>{{ periodo.qtde_aulas }}</td>
    <td class="td-actions">

        <button class="action-button" 
            c-get="{{ url_for('periodo.form_periodo', periodo_id=periodo.id) }}"
            onclick="document.getElementById('modal').showModal()"
            c-target="#modal">
            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
            <span class="tooltip-text">Editar aula</span>
        </button>

    </td>
</tr>
