<h2 style="color: #11223b; text-align: center;">Listagem de períodos</h2>

<div class="div-table" >
    <table id="table-sala" class="table">
        <thead>
            <tr>
                <th scope="col" class="th-id" style="width: 5%;">#</th>
                <th style="width: 18%;">Nome</th>
                <th style="width: 18%;">Horário início</th>
                <th style="width: 18%;">Horário término</th>
                <th style="width: 18%;">Quantidade de aulas</th>
                <th class="th-actions" style="width: 18%;">Ações</th>
            </tr>
        </thead>
        <tbody id="lista-periodos">
            {% for periodo in periodos %}
                {% include 'cadastro/periodo_templates/item_periodo.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>