<tr id="upload-{{upload.id }}">
    <td scope="row">{{ upload.id }}</td>
    <td>{{ upload.nome_arquivo }}</td>
    <td>
        {% if upload.sala %}
            {{ upload.sala.nome_sala }}
        {% else %}
            Sala não cadastrada!
        {% endif %}
    </td>
    <td>
        {% if upload.turma %}
            {{ upload.turma.nome_turma }}
        {% else %}
            Turma não cadastrada!
        {% endif %}
    </td>
    <td>{{ upload.periodo.nome_periodo }}</td>
    <td>
        {% if upload.data_registro %}
            {{ upload.data_registro.strftime('%d/%m/%Y') }}
        {% else %}
            Data não disponível
        {% endif %}
    </td>    
    <td>
        {% if upload.hora_registro %}
            {{ upload.hora_registro.strftime('%H:%M') }}
        {% else %}
            Hora não disponível
        {% endif %}
    </td>    
    <td class="td-actions">

        {% if upload.is_analisado == 0 %}
            <button class="action-button" 
                onclick="document.getElementById('mensagem_analise').showModal(), localStorage.setItem('modal_analise_aberto', 'true'), localStorage.setItem('upload_id', '{{ upload.id }}', location.reload())"
                c-remove-closest="tr"
                c-post="{{ url_for('upload.analisar_upload', upload_id=upload.id) }}">
                <i class="fa-solid fa-robot" style="color: #ffffff;"></i>
                <span class="tooltip-text">Iniciar análise</span>
            </button>

            <button class="action-button" 
                c-get="{{ url_for('upload.form_edit_upload', upload_id=upload.id) }}"
                onclick="document.getElementById('modal').showModal()"
                c-target="#modal">
                <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                <span class="tooltip-text">Editar upload</span>
            </button>
        {% endif %}

        {% if upload.is_analisado == 1 %}

            <button class="action-button"
                c-get="{{ url_for('upload.testando', upload_id=upload.id) }}"
                onclick="document.getElementById('opcoes-relatorio').showModal()"
                c-target="#opcoes-relatorio">
                <i class="fa-solid fa-clipboard-list" style="color: #ffffff;"></i>
                <span class="tooltip-text">Ver análise</span>
            </button>

        {% endif %}
            

        <button class="action-button" 
            c-get="{{ url_for('upload.reproduzir_video_modal', upload_id=upload.id) }}"
            onclick="document.getElementById('video').showModal()"
            c-target="#video">
            <i class="fa-solid fa-circle-play" style="color: #ffffff;"></i>
            <span class="tooltip-text">Reproduzir vídeo</span>
        </button>


        <button class="action-button" 
            {% if upload.is_analisado == 1 %}
                c-delete="{{ url_for('upload.deletar_analise', upload_id=upload.id) }}"
            {% else %}
                c-delete="{{ url_for('upload.deletar_upload', upload_id=upload.id) }}"
            {% endif %}
            c-remove-closest="tr">
            <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
            <span class="tooltip-text">{% if upload.is_analisado == 1 %}Deletar análise{% else %}Deletar upload{% endif %}</span>
        </button>

    </td>
</tr>
