<div class="div-table">
    <table id="file-table" class="table">
        <thead>
            <tr>
                <th scope="col" class="th-id">#</th>
                <th>Nome</th>
                <th>Sala</th>
                <th>Turma</th>
                <th>Periodo</th>
                <th>Data de registro</th>
                <th>Hora de registro</th>
                <th class="th-actions">Ações</th>
            </tr>
        </thead>
        <tbody id="lista-uploads">
            {% for upload in uploads %}
                {% include 'upload/upload_templates/item_upload.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>