<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Agrupado</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <style>
        h2 {
            width: 100%;
            padding: 5px 0;
            text-align: left;
        }

        .div-agrupamento-generalizado {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            padding: 10px 0;
            margin: 30px 0;
            border-radius: 16px;
        }

        .h2-agrupamento-generalizado {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding: 5px 0;
        }

        .div-sub-agrupamento {
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
        }

        h3 {
            margin: 0 0 30px 0;
            color: rgb(54, 53, 53);
        }
    </style>
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem" href="/cadastro">
                    Cadastro
                </a>
                <a class="NavBarItem" href="/upload">
                    Uploads
                </a>
                <a class="NavBarItem selected-item-menu" href="/relatorio">
                    Relatórios
                </a>
                <a class="NavBarItem" href="">
                    Opções
                </a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i> <!-- Ícone de toggle -->
            </div>
        </div>
    </header>
    <main>
        <button class="return-button" onclick="window.history.back();">
            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        </button>
        
        <div class="div-baixar-pdf">
            <button id="baixar" class="baixar-pdf" onclick="baixarPDF(`relatorio-agrupado-por-{{agrupado_por}}`)">Baixar PDF</button>
        </div>
        <section class="content content-relatorio">
            <div style="width: 95%;">
                {% if agrupado_por == 'aula' %}
                    {% for periodo_nome, aulas_dict in grouped_uploads.items() %}
                        <div class="div-agrupamento-generalizado">
                            <h2 class="h2-agrupamento-generalizado">Período: {{ periodo_nome }}</h2>
                            {% for aula_nome, uploads in aulas_dict.items() %}
                                <div class="div-sub-agrupamento">
                                    <h3>{{ aula_nome }}</h3>
                                    <table class="tabela-relatorio">
                                        <thead>
                                            <tr class="tr-cabecalho-relatorio">
                                                <th style="border-top-left-radius: 16px; width: 5%;">#</th>
                                                <th style="width: 10%;">Upload</th>
                                                <th style="width: 10%;">Professor(es)</th>
                                                <th style="width: 10%;">Sala</th>
                                                <th style="width: 10%;">Período</th>
                                                <th style="width: 10%;">Turma</th>
                                                <th style="border-top-right-radius: 16px; width: 25%">Ação mais detectada</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for upload in uploads %}
                                                <tr class="tr-corpo-relatorio">
                                                    <td>{{ upload.id }}</td>
                                                    <td>{{ upload.nome_arquivo }}</td>
                                                    <td>
                                                        {% if professores_por_upload[upload.id] %}
                                                            {% for professor in professores_por_upload[upload.id] %}
                                                                {{ professor }}<br>
                                                            {% endfor %}
                                                        {% else %}
                                                            Sem professor
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ upload.sala.nome_sala if upload.sala else 'Sem sala' }}</td>
                                                    <td>{{ upload.periodo.nome_periodo if upload.periodo else 'Sem período' }}</td>
                                                    <td>{{ upload.turma.nome_turma if upload.turma else 'Sem turma' }}</td>
                                                    <td>{{ classe_mais_comum[upload.id] }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                <h4 style="font-size: 28px; text-align: center;">Agrupamento por {{ agrupado_por|capitalize  if agrupado_por|capitalize != "Classificacoes" else "Classificações" }}</h4>
                    {% for grouping_key, uploads in grouped_uploads.items() %}
                        <h2>{{ grouping_key }}{% if not uploads %} (Sem análises) {% endif %}</h2>
                        {% if uploads %}
                            <table class="tabela-relatorio">
                                <thead>
                                    <tr class="tr-cabecalho-relatorio">
                                        <th style="border-top-left-radius: 16px; width: 5%;">#</th>
                                        <th style="width: 10%;">Upload</th>
                                        <th style="width: 10%;">Professor(es)</th>
                                        <th style="width: 10%;">Sala</th>
                                        <th style="width: 10%;">Período</th>
                                        <th style="width: 10%;">Turma</th>
                                        
                                        <th style="border-top-right-radius: 16px; width: 10%">
                                            {% if agrupado_por == 'classificacoes' %}
                                                Contagem
                                            {% else %}
                                                Ação mais detectada
                                            {% endif %}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for upload in uploads %}
                                        <tr class="tr-corpo-relatorio">
                                            <td>{{ upload.id }}</td>
                                            <td>{{ upload.nome_arquivo }}</td>
                                            <td>
                                                {% if professores_por_upload[upload.id] %}
                                                    {% for professor in professores_por_upload[upload.id] %}
                                                        {{ professor }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    Sem professor
                                                {% endif %}
                                            </td>
                                            <td>{{ upload.sala.nome_sala if upload.sala else 'Sem sala' }}</td>
                                            <td>{{ upload.periodo.nome_periodo if upload.periodo else 'Sem periodo' }}</td>
                                            <td>{{ upload.turma.nome_turma if upload.turma else 'Sem turma' }}</td>
                                            <td>
                                                {% if agrupado_por == 'classificacoes' %}
                                                    {{ somas_por_upload[upload.id] }}
                                                {% else %}
                                                    {{ classe_mais_comum[upload.id] }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <hr style="border: 1px solid #ececec;">
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        <!-- Modal formulários -->
        <dialog id="modal">
        </dialog>

        <!-- Modal erro -->
        <dialog id="error" class="modal-erro">
            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

    </main>

    <script src="../static/scripts/navbar.js"></script>
    <script src="../static/scripts/baixar_pdf.js"></script>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>
</body>
</html>