/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #E5F4FF;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab button {
    background-color: #C7E9FF;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.tab button.active {
    background-color: #4EB6FF;
    color: #fff;
}

.upload-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-button,
.analyze-all-button {
    background-color: #1E314E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.div-table {
    width: 100%;
}

#file-table {
    width: 80%;
    margin: auto;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; /* Adicione isso para colapsar as bordas da tabela */
}

#file-table th, #file-table td {
    text-align: center;
    padding: 10px;
    border: 0.1px solid #1E314E;
}
