/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #E5F4FF;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 120px;
}

.NavBar{
    width: 100%;
    height: 100%;
    background-color: #011f36;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.active {
    border-bottom: 1px solid #4EB6FF;
    padding: ;
}

.LogoArea{
    width: 10%;
    margin: 30%;
}

.logoArea img{
    width: 80px;
    height: 80px;
    padding-left: 30px;
}

.tabArea{
    width: 60%;
    display: flex;
}

.NavBarSection{
    font-size: 22px;
    text-decoration: none;
    text-transform: none;
    color:#E5F4FF;
    
}

.NavBarItem {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}

.NavBarItem:hover {
    border-bottom: 1px solid #4EB6FF;
}

.NavBarSection:hover {
    color: #e5f4f5;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab button {
    background-color: #C7E9FF;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.actions-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-button,
.add-sala,
.reload-button,
.action-button,
dialog button {
    position: relative;
    background-color: #1E314E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.action-button {
    position: relative;
    margin: 5px 5px;
    padding: 5px 10px;
}

.div-table {
    width: 100%;
}

#file-table {
    width: 80%;
    margin: auto;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

#file-table th, #file-table td {
    text-align: center;
    padding: 10px;
    border: 0.1px solid #1E314E;
}

dialog {
    max-height: 90%;
    width: 50%;
    text-align: center;
}

dialog form .bloco-informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    width: 80%;
}

dialog form .bloco-informacoes label,
dialog form .bloco-informacoes input {
    width: 100%;
    margin: 5px 0;
    text-align: left;
}

dialog form .bloco-informacoes select {
    width: 30%;
    margin: 5px 0;
    text-align: center;
    height: 30px;
}

dialog form .bloco-informacoes input {
    padding: 10px;
    box-sizing: border-box;
}

dialog button {
    margin: 15px 10px;
    width: 165px;
}

.input_file {
    margin: 10px 0;
}

.bloco-botoes-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog video {
    max-height: 650px;
}

.upload-button .tooltip-text {
    visibility: hidden;
    width: 210px;
    background-color: #1E314E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: -250%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Impede que o tooltip seja clicado */
}

.add-sala .tooltip-text {
    visibility: hidden;
    width: 210px;
    background-color: #1E314E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 250%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Impede que o tooltip seja clicado */
}

.reload-button .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #1E314E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 250%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Impede que o tooltip seja clicado */
}

.action-button .tooltip-text {
    visibility: hidden;
    width: 135px;
    background-color: #07172e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%; /* Posiciona acima do botão */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none; /* Impede que o tooltip seja clicado */
}

.upload-button:hover .tooltip-text,
.action-button:hover .tooltip-text,
.reload-button:hover .tooltip-text,
.add-sala:hover .tooltip-text {
    visibility: visible;
    opacity: 0.85;
}

.loader {
    border: 16px solid #aeb6c0;
    border-top: 16px solid #4EB6FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
