<tr id="disciplina-{{disciplina.id }}">
    <td scope="row">{{ disciplina.id }}</td>
    <td>{{ disciplina.nome_disciplina }}</td>
    <td class="td-actions">

        <button class="action-button" 
            c-get="{{ url_for('disciplina.form_edit_disciplina', disciplina_id=disciplina.id) }}"
            onclick="document.getElementById('modal').showModal()"
            c-target="#modal">
            ✏️
            <span class="tooltip-text">Editar disciplina</span>
        </button>

        <button class="action-button" 
            c-delete="{{ url_for('disciplina.deletar_disciplina', disciplina_id=disciplina.id) }}"
            c-remove-closest="tr">
            🗑️
            <span class="tooltip-text">Excluir disciplina</span>
        </button>

    </td>
</tr>
