<div class="div-table" >
    <div class="actions-list">
        <button class="add-button"
            onclick="document.getElementById('modal').showModal()"
            c-get="{{ url_for('disciplina.form_disciplina') }}"
            c-target="#modal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            <span class="tooltip-text">Adicionar uma nova disciplina</span>
        </button>
    </div>

    <h2 style="color: #11223b; text-align: center;">Listagem de disciplinas</h2>

    <table id="table-disciplina" class="table">
        <thead>
            <tr>
                <th scope="col" class="th-id" style="width: 5%;">#</th>
                <th style="width: 25%;">Nome</th>
                <th class="th-actions" style="width: 25%;">Ações</th>
            </tr>
        </thead>
        <tbody id="lista-disciplinas">
            {% for disciplina in disciplinas %}
                {% include 'cadastro/disciplina_templates/item_disciplina.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>