<div class="div-table" >
    <div class="actions-list">
        <button class="add-button"
            onclick="document.getElementById('modal').showModal()"
            c-get="{{ url_for('sala.form_sala') }}"
            c-target="#modal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
            <span class="tooltip-text">Adicionar uma nova sala</span>
        </button>
    </div>

    <h2 style="color: #11223b; text-align: center;">Listagem de salas</h2>

    <table id="table-sala" class="table">
        <thead>
            <tr>
                <th scope="col" class="th-id" style="width: 5%;">#</th>
                <th style="width: 25%;">Nome</th>
                <th class="th-actions" style="width: 25%;">Ações</th>
            </tr>
        </thead>
        <tbody id="lista-salas">
            {% for sala in salas %}
                {% include 'cadastro/sala_templates/item_sala.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>