<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem" href="/cadastro">
                    Cadastro
                </a>
                <a class="NavBarItem selected-item-menu" href="/upload">
                    Uploads
                </a>
                <a class="NavBarItem" href="/relatorio">
                    Relatórios
                </a>
                <a class="NavBarItem" href="">
                    Opções
                </a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i> <!-- Ícone de toggle -->
            </div>
        </div>
    </header>
    <main>
        <div class="tab-upload" style="margin-bottom: 20px;">
            <button id="nao_analisados_button" {% if not visualizando_uploads_analisados %} class="active" {% endif %}
                c-get="{{ url_for('upload.lista_uploads_nao_analisados') }}"
                c-target=".content">
                Não Analisados
            </button>
            <button id="analisados_button" {% if visualizando_uploads_analisados %} class="active" {% endif %}
                c-get="{{ url_for('upload.lista_uploads_analisados') }}"
                c-target=".content">
                Analisados
            </button>
        </div>
    
        <!-- Valida a última sessão aberta e busca o conteúdo. Caso não ache, renderiza por padrão a lista de uploads não analisados -->
        <section class="content"
            {% if visualizando_uploads_nao_analisados %}
                c-container="{{ url_for('upload.lista_uploads_nao_analisados') }}"

            {% elif visualizando_uploads_analisados %}
                c-container="{{ url_for('upload.lista_uploads_analisados') }}"

            {% endif %}
            
            c-container="{{ url_for('upload.lista_uploads_nao_analisados') }}">
        </section>    

        <!-- Modal formulários -->
        <dialog id="modal">
        </dialog>

        <!-- Modal video -->
        <dialog id="video" class="modal">
        </dialog>

        <!-- Modal de opções de relatórios -->
        <dialog id="opcoes-relatorio" class="modal">
        </dialog>

        <!-- Modal de renderização de relatórios -->
        <dialog id="relatorio" class="modal modal-relatorio">
            <div class="modal-body">
                <canvas id="canvas_grafico"></canvas>
                <div id="botoes-modal-relatorio">
                    <button onclick="fecharModalRelatorio(), location.reload()">Fechar</button>
                </div>
            </div>
        </dialog>

        <!-- Modal erro -->
        <dialog id="error" class="modal">

            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

        <!-- Modal aviso de análise em andamento -->
        <dialog id="mensagem_analise" class="modal">
            <p>O vídeo está sendo analisado, isso pode demorar alguns minutos!</p>
            <div class="loader"></div>
            <button onclick="document.getElementById('mensagem_analise').close(), localStorage.removeItem('modal_analise_aberto'), location.reload();"
                c-post="{{ url_for('upload.cancelar_analise') }}">
                Cancelar análise
            </button>
        </dialog>

    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (localStorage.getItem('modal_analise_aberto') === 'true') {
                document.getElementById('mensagem_analise').showModal();

                function verificarStatusAnalise() {

                    const upload_id = localStorage.getItem('upload_id');

                    if (upload_id) {
                        fetch(`/upload/status_analise/${upload_id}`)
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'concluido') {
                                    document.getElementById('mensagem_analise').close();
                                    localStorage.removeItem('modal_analise_aberto'); // Remove a informação do localstorage
                                    localStorage.removeItem('upload_id'); // Remove a informação do localstorage
                                    location.reload();
                                }
                            })
                            .catch(error => console.error('Erro ao verificar o status da análise:', error));
                    }
                }

                setInterval(verificarStatusAnalise, 5000); // Chama a função pra verificar o status a cada 5 segundos
            }

            document.addEventListener('keydown', (event) => {
                if (event.key === 'Escape') {
                    event.preventDefault();
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtenha os botões
            const naoAnalisadosButton = document.getElementById('nao_analisados_button');
            const analisadosButton = document.getElementById('analisados_button');
            // Função para ativar o botão clicado e desativar o outro
            function activateButton(activeButton) {
                // Remova a classe active de ambos os botões
                naoAnalisadosButton.classList.remove('active');
                analisadosButton.classList.remove('active');

                // Adicione a classe active ao botão clicado
                activeButton.classList.add('active');
            }

            // Adicione eventos de clique aos botões
            naoAnalisadosButton.addEventListener('click', () => activateButton(naoAnalisadosButton));
            analisadosButton.addEventListener('click', () => activateButton(analisadosButton));
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.querySelector('.menu-toggle');
            const navBar = document.querySelector('.NavBar');
            
            toggleButton.addEventListener('click', function() {
                navBar.classList.toggle('active'); // Alterna a classe 'active' na navbar para mostrar/esconder o menu
            });
        });
    </script>

    <script>
        function grafico_media_comportamentos(uploadId) {
            fetch(`/upload/${uploadId}/relatorio/media_comportamentos`)
                .then(response => response.json())
                .then(data => {
                    const ctx = document.getElementById('canvas_grafico').getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Média de Alunos por Comportamentos',
                                data: data.data,
                                backgroundColor: [
                                    'rgba(75, 192, 192, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(255, 99, 132, 0.6)',
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(153, 102, 255, 0.6)',
                                    'rgba(255, 159, 64, 0.6)'
                                ],
                                borderColor: [
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                x: {
                                    ticks: {
                                        font: {
                                            size: 14 // Aumenta o tamanho da fonte dos labels do eixo X
                                        },
                                        callback: function(value, index) {
                                            // Quebra o texto em duas linhas
                                            const label = this.getLabelForValue(value);
                                            const words = label.split(' ');
                                            if (words.length > 1) {
                                                return [words[0], words.slice(1).join(' ')];
                                            } else {
                                                return label;
                                            }
                                        }
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Quantidade de Alunos',
                                        font: {
                                            size: 16,
                                            weight: 'bold'
                                        }
                                    },
                                    ticks: {
                                        font: {
                                            size: 14 // Aumenta o tamanho da fonte dos labels do eixo Y
                                        }
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    labels: {
                                        font: {
                                            size: 16 // Aumenta o tamanho da fonte da legenda
                                        }
                                    }
                                }
                            }
                        }
                    });
                });

                // Adiciona o botão de download após criar o gráfico
                addDownloadButton();
        }

        function grafico_contagem_alunos_comportamentos(uploadId) {
            fetch(`/upload/${uploadId}/relatorio/contagem_alunos_comportamentos`)
                .then(response => response.json())
                .then(data => {
                    const ctx = document.getElementById('canvas_grafico').getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Contagem de Alunos por Comportamentos',
                                data: data.data,
                                backgroundColor: [
                                    'rgba(75, 192, 192, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(255, 99, 132, 0.6)',
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(153, 102, 255, 0.6)',
                                    'rgba(255, 159, 64, 0.6)'
                                ],
                                borderColor: [
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                x: {
                                    ticks: {
                                        font: {
                                            size: 14 // Aumenta o tamanho da fonte dos labels do eixo X
                                        },
                                        callback: function(value, index) {
                                            // Quebra o texto em duas linhas
                                            const label = this.getLabelForValue(value);
                                            const words = label.split(' ');
                                            if (words.length > 1) {
                                                return [words[0], words.slice(1).join(' ')];
                                            } else {
                                                return label;
                                            }
                                        }
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Quantidade de Alunos',
                                        font: {
                                            size: 16,
                                            weight: 'bold'
                                        }
                                    },
                                    ticks: {
                                        font: {
                                            size: 14 // Aumenta o tamanho da fonte dos labels do eixo Y
                                        }
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    labels: {
                                        font: {
                                            size: 16 // Aumenta o tamanho da fonte da legenda
                                        }
                                    }
                                }
                            }
                        }
                    });
                });

                // Adiciona o botão de download após criar o gráfico
                addDownloadButton();
        }

        function fecharModalRelatorio() {
            const downloadButton = document.getElementById('download-pdf-button');
            if (downloadButton) {
                downloadButton.remove(); // Remove o botão de download
            }
            document.getElementById('relatorio').close(); // Fecha o modal
        }

        function addDownloadButton() {
            const buttonContainer = document.getElementById('botoes-modal-relatorio');
            buttonContainer.style.textAlign = 'center';
            buttonContainer.style.marginTop = '20px';

            const downloadButton = document.createElement('button');
            downloadButton.textContent = 'Baixar PDF';
            downloadButton.onclick = downloadPDF;
            downloadButton.style.padding = '10px 20px';
            downloadButton.style.fontSize = '16px';
            downloadButton.style.cursor = 'pointer';
            downloadButton.id = 'download-pdf-button'

            buttonContainer.appendChild(downloadButton);
            document.getElementById('canvas_grafico').parentNode.insertBefore(buttonContainer, document.getElementById('canvas_grafico').nextSibling);
        }

        function downloadPDF() {
            const canvas = document.getElementById('canvas_grafico');
            
            html2canvas(canvas).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const pdf = new jspdf.jsPDF();
                const imgProps = pdf.getImageProperties(imgData);
                const pdfWidth = pdf.internal.pageSize.getWidth();
                const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
                
                pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
                pdf.save('analise_comportamentos.pdf');
            });
        }
    </script>

    <script src="{{ url_for('static', filename='cru.js') }}"></script>
</body>
</html>
