<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploads</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem" href="/cadastro">
                    Cadastro
                </a>
                <a class="NavBarItem selected-item-menu" href="/upload">
                    Uploads
                </a>
                <a class="NavBarItem" href="/relatorio">
                    Relatórios
                </a>
                <a class="NavBarItem" href="">
                    Opções
                </a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i> <!-- Ícone de toggle -->
            </div>
        </div>
    </header>
    <main>
        <div class="tab-upload" style="margin-bottom: 20px;">
            <button id="nao_analisados_button" {% if not visualizando_uploads_analisados %} class="active" {% endif %}
                c-get="{{ url_for('upload.lista_uploads_nao_analisados') }}"
                c-target=".content">
                Não Analisados
            </button>
            <button id="analisados_button" {% if visualizando_uploads_analisados %} class="active" {% endif %}
                c-get="{{ url_for('upload.lista_uploads_analisados') }}"
                c-target=".content">
                Analisados
            </button>
        </div>
    
        <!-- Valida a última sessão aberta e busca o conteúdo. Caso não ache, renderiza por padrão a lista de uploads não analisados -->
        <section class="content"
            {% if visualizando_uploads_nao_analisados %}
                c-container="{{ url_for('upload.lista_uploads_nao_analisados') }}"

            {% elif visualizando_uploads_analisados %}
                c-container="{{ url_for('upload.lista_uploads_analisados') }}"

            {% endif %}
            
            c-container="{{ url_for('upload.lista_uploads_nao_analisados') }}">
        </section>    

        <!-- Modal formulários -->
        <dialog id="modal">
        </dialog>

        <!-- Modal video -->
        <dialog id="video" class="modal" style="width: 80%;">
        </dialog>

        <!-- Modal de opções de relatórios -->
        <dialog id="opcoes-relatorio" class="modal" style="width: 500px;">
        </dialog>

        <!-- Modal de renderização de relatórios -->
        <dialog id="relatorio" class="modal modal-relatorio">
            <div class="modal-body">
                <canvas id="canvas_grafico"></canvas>
                <div id="botoes-modal-relatorio">
                    <button onclick="fecharModalRelatorio(), location.reload()">Fechar</button>
                </div>
            </div>
        </dialog>

        <!-- Modal erro -->
        <dialog id="error" class="modal" style="width: 60%;">

            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p></p>
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

        <!-- Modal aviso de análise em andamento -->
        <dialog id="mensagem_analise" class="modal" style="width: 60%">
            <p style="font-size: 20px;">O vídeo está sendo analisado, isso pode demorar alguns minutos!</p>
            
            <strong><p id="progress-text">Progresso: 0%</p></strong>
            
            <div style="display: flex; justify-content: center;">
                <!-- Container da Barra de Progresso -->
                <div class="progress-container">
                    <div id="progress-bar" class="progress-bar"></div>
                </div>
            </div>
            
            <button onclick="document.getElementById('mensagem_analise').close(), localStorage.removeItem('modal_analise_aberto'), location.reload();"
                c-post="{{ url_for('upload.cancelar_analise') }}">
                Cancelar análise
            </button>
        </dialog>

    </main>

    <script src="../static/scripts/funcoes_analise_upload.js"></script>
    <script src="../static/scripts/funcoes_graficos.js"></script>
    <script src="../static/scripts/selecionar_botoes_upload.js"></script>
    <script src="../static/scripts/navbar.js"></script>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>
</body>
</html>
