<div class="div-table">
    <div class="actions-list">
        <button class="add-button"
            c-get="{{ url_for('turma.form_turma') }}"
            onclick="document.getElementById('modal').showModal()"
            c-target="#modal">
            <span class="tooltip-text">Adicionar uma nova turma</span>
            ➕
        </button>
    </div>

    <h2 style="color: #11223b; text-align: center;">Listagem de turmas</h2>

    <table id="table-turma" class="table">
        <thead>
            <tr>
                <th scope="col" class="th-id">#</th>
                <th>Turma</th>
                <th>Sala</th>
                <th>Período</th>
                <th>Qtde. Alunos</th>
                <th class="th-actions">Ações</th>
            </tr>
        </thead>
        <tbody id="lista-turmas">
            {% for turma in turmas %}
                {% include 'cadastro/turma_templates/item_turma.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>