<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface de Upload</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <main>
        <section class="upload-section">
            <div class="tab">
                <button class="tablinks active">Não Analisados</button>
                <button class="tablinks">Analisados</button>
            </div>
            <div class="upload-controls">
                <button class="upload-button"
                    c-get="{{ url_for('upload.form_upload') }}"
                    onclick="document.getElementById('modal').showModal()"
                    c-target="#modal">
                    ⬆️
                </button>
                <button class="analyze-all-button">Analisar todos</button>
            </div>
            <div class="div-table" 
                c-container="{{ url_for('upload.lista_uploads') }}">
                <!-- Lista de uploads vai aqui -->
            </div>
        </section>

        <!-- Modal form-upload -->
        <dialog id="modal"
            c-container="{{ url_for('upload.form_upload') }}">
        </dialog>

        <!-- Modal video -->
        <dialog id="video">
        </dialog>

        <!-- Modal Erro no nome do upload -->
        <dialog id="error" {% if get_flashed_messages() %}open{% endif %}>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <button onclick="document.getElementById('error').close()">Fechar</button>
        </dialog>


    </main>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>
    
    <script>
        // Se há mensagens flash, mostrar o modal de erro
        if (document.querySelector('#error[open]')) {
            document.getElementById('error').showModal();
        }
    </script>
</body>
</html>
