<tr id="sala{{sala.id }}">
    <th scope="row">{{ sala.id }}</th>
    <td>{{ sala.nome_sala }}</td>
    <td>

        <button class="edit-button"
            c-get="{{ url_for('sala.form_edit_sala', sala_id=sala.id) }}"
            onclick="document.getElementById('modal').showModal()"
            c-target="#modal">
            ✏️
        </button>

        <button class="delete-button"
            c-delete="{{ url_for('sala.deletar_sala', sala_id=sala.id) }}"
            c-remove-closest="tr">
            🗑️
        </button>

    </td>
</tr>
