<div class="actions-list">
    <button c-get="{{ url_for('turma.form_turma') }}"
        onclick="document.getElementById('modal').showModal()"
        c-target="#modal">
        +
    </button>
</div>

<table id="file-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="lista-turmas">
        {% for turma in turmas %}
            {% include 'item_turma.html' %}
        {% endfor %}
    </tbody>
</table>