<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorios</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem" href="/cadastro">Cadastro</a>
                <a class="NavBarItem" href="/upload">Uploads</a>
                <a class="NavBarItem selected-item-menu" href="/relatorio">Relatórios</a>
                <div class="options-container">
                    <a class="NavBarItem options-toggle" href="#" style="height: 96%;">
                        Opções 
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <!-- Menu que aparece abaixo das opções -->
                    <div class="optionsMenu">
                        <a href="/configuracoes">Configurações</a>
                        <a href="/sobre_nos">Sobre Nós</a>
                        <a href="/login">Sair</a>
                    </div>
                </div>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <!-- Valida a última sessão aberta e busca o conteúdo. Caso não ache, renderiza por padrão a lista de uploads não analisados -->
        <section class="content"            
            c-container="{{ url_for('relatorio.lista_opcoes_relatorios') }}">
        </section>

        <!-- Modal de filtros -->
        <dialog id="modal">
        </dialog>

        <!-- Modal erro -->
        <dialog id="error" class="modal" style="width: 60%;">
            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

    </main>

    <script src="../static/scripts/navbar.js"></script>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>
</body>
</html>
