<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logoNavBarSemFundo.png">
</head>
<body>
    <header>
        <div class="NavBar">
            <div class="logoArea">
                <a href="/">
                    <img src="../static/images/logoNavBarSemFundo.png" alt="">
                </a>
            </div>
            <div class="tabArea">
                <a class="NavBarItem selected-item-menu" href="/cadastro">
                    Cadastro
                </a>
                <a class="NavBarItem" href="/upload">
                    Uploads
                </a>
                <a class="NavBarItem" href="/relatorio">
                    Relatórios
                </a>
                <a class="NavBarItem" href="">
                    Opções
                </a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i> <!-- Ícone de toggle -->
            </div>
        </div>
    </header>
    <main>

        <div class="tab">
            <button id="salas-button" {% if not visualizando_turmas and not visualizando_disciplinas and not visualizando_periodos and not visualizando_aulas and not visualizando_professores %}class="active"{% endif %}
                c-get="{{ url_for('sala.lista_salas') }}"
                c-target=".content">
                Salas
            </button>

            <button id="disciplina-button" {% if visualizando_disciplinas %}class="active"{% endif %}
                c-get="{{ url_for('disciplina.lista_disciplinas') }}"
                c-target=".content">
                Disciplinas
            </button>

            <button id="turmas-button" {% if visualizando_turmas %}class="active"{% endif %}
                c-get="{{ url_for('turma.lista_turmas') }}"
                c-target=".content">
                Turmas
            </button>

            <button id="periodos-button" {% if visualizando_periodos %}class="active"{% endif %}
                c-get="{{ url_for('periodo.lista_periodos') }}"
                c-target=".content">
                Periodos
            </button>

            <button id="aulas-button" {% if visualizando_aulas %}class="active"{% endif %}
                c-get="{{ url_for('aula.lista_aulas_matutinas') }}"
                c-target=".content">
                Aulas
            </button>

            <button id="professores-button" {% if visualizando_professores %}class="active"{% endif %}
                c-get="{{ url_for('professor.lista_professores_matutinos') }}"
                c-target=".content">
                Professores
            </button>
        </div>

        <!-- Valida a última sessão aberta e busca o conteúdo. Caso não ache, renderiza por padrão a lista de uploads não analisados -->
        <section class="content"
            {% if visualizando_salas %}
                c-container="{{ url_for('sala.lista_salas') }}"

            {% elif visualizando_turmas %}
                c-container="{{ url_for('turma.lista_turmas') }}"

            {% elif visualizando_disciplinas %}
                c-container="{{ url_for('disciplina.lista_disciplinas') }}"

            {% elif visualizando_periodos %}
                c-container="{{ url_for('periodo.lista_periodos') }}"

            {% elif visualizando_aulas and visualizando_aulas_matutinas %}
                c-container="{{ url_for('aula.lista_aulas_matutinas') }}"

            {% elif visualizando_aulas and visualizando_aulas_vespertinas %}
                c-container="{{ url_for('aula.lista_aulas_vespertinas') }}"

            {% elif visualizando_aulas and visualizando_aulas_noturnas %}
                c-container="{{ url_for('aula.lista_aulas_noturnas') }}"

            {% elif visualizando_professores and visualizando_professores_matutinos %}
                c-container="{{ url_for('professor.lista_professores_matutinos') }}"
            
            {% elif visualizando_professores and visualizando_professores_vespertinos %}
                c-container="{{ url_for('professor.lista_professores_vespertinos') }}"

            {% elif visualizando_professores and visualizando_professores_noturnos %}
                c-container="{{ url_for('professor.lista_professores_noturnos') }}"
            
            {% endif %}
            
            c-container="{{ url_for('sala.lista_salas') }}">
        </section>    

        <!-- Modal formulários -->
        <dialog id="modal">
        </dialog>

        <!-- Modal erro -->
        <dialog id="error"  class="modal">
            <!-- Mensagens de Flash -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <script>
                    modal_erro = document.getElementById('error')
                    modal_erro.showModal()
                </script>
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button onclick="getElementById('error').close()">Ok</button>
        </dialog>

    </main>

    <script src="../static/scripts/selecionar_botoes_cadastro.js"></script>
    <script src="../static/scripts/navbar.js"></script>
    <script src="{{ url_for('static', filename='cru.js') }}"></script>
</body>
</html>
