<tr id="sala{{sala.id }}">
    <td scope="row">{{ sala.id }}</td>
    <td>{{ sala.nome_sala }}</td>
    <td>

        <button class="action-button" 
            c-get="{{ url_for('sala.form_edit_sala', sala_id=sala.id) }}"
            onclick="document.getElementById('modal').showModal()"
            c-target="#modal">
            ✏️
            <span class="tooltip-text">Editar sala</span>
        </button>

        <button class="action-button" 
            c-delete="{{ url_for('sala.deletar_sala', sala_id=sala.id) }}"
            c-remove-closest="tr">
            🗑️
            <span class="tooltip-text">Excluir sala</span>
        </button>

    </td>
</tr>
