<div class="tab-periodos">
    <button type="button" class="tab-periodos-button"
        c-get="{{ url_for('professor.lista_aulas_professor_matutino') }}"
        c-target=".container-aulas-professor">
        Matutino
    </button>
    <button type="button" class="tab-periodos-button active"
        c-get="{{ url_for('professor.lista_aulas_professor_vespertino') }}"
        c-target=".container-aulas-professor">
        Vespertino
    </button>
    <button type="button" class="tab-periodos-button"
        c-get="{{ url_for('professor.lista_aulas_professor_noturno') }}"
        c-target=".container-aulas-professor">
        Noturno
    </button>
</div>

<div class="div-table">
    <!-- Tabela vem aqui -->
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>S</th>
            <th>T</th>
            <th>Q</th>
            <th>Q</th>
            <th>S</th>
        </tr>
    </thead>
    <tbody>
        {% for aula in aulas %}
            {% set i = loop.index %}
            {% include 'cadastro/professor_templates/item_aula_professor.html' %}
        {% endfor %}
    </tbody>
</table>